body {
  font-family: 'Helvetica Neue', Helvetica, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  background-color: rgba(245, 179, 179, 0.1); }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover {
    color: #22537b; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.monospaced {
  font-family: "Hack", monospace !important; }

.icon {
  height: 50px;
  margin-left: 15px; }

.reveal h1 {
  font-size: 2.7em;
  text-transform: uppercase; }
  .reveal h1.smaller {
    font-size: 2.4em; }
.reveal h2 {
  font-size: 2em; }
.reveal h3 {
  margin-bottom: 15px; }
.reveal small {
  font-size: 0.8em; }
.reveal pre code {
  text-align: left;
  font-size: 0.5em;
  font-family: 'Hack', monospace;
  white-space: pre-wrap !important;
  overflow: hidden;
  padding: 5px; }
.reveal ul {
  margin: auto;
  width: 50%;
  text-align: left; }

.import-from img {
  height: 30px; }
